alembic==1.0.10
cffi==1.11.5
Click==7.0
Flask==1.0.2
Flask-Migrate==2.4.0
Flask-SQLAlchemy==2.4.0
glfw==1.7.0
itsdangerous==1.1.0
Jinja2==2.10
Mako==1.0.9
MarkupSafe==1.1.0
numpy==1.16.0
Pillow==5.4.1
pycparser==2.19
PyOpenGL==3.1.0
python-dateutil==2.8.0
python-editor==1.0.4
six==1.12.0
sounddevice==0.3.12
SQLAlchemy==1.3.3
Werkzeug==0.14.1
psycopg2==2.7.6
gunicorn==19.9.0
pandas==0.23.0
scikit-learn==0.19.1
py-xgboost-mutex==2.0
libxgboost==0.80
py-xgboost==0.80
py-xgboost-cpu==0.80
numpy==1.14.3
joblib==0.13.1